<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/photoback.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Ajouter une ordonnance</h1>
            <h3> Défilez vers le bas  </h3>
            <br />
            <img src="./assets/img/down-arrow.png"/>
            <!-- <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Watch video</a>
            <button type="button" class="btn btn-outline-neutral btn-round">Download</button> -->
        </div>
    </div>
</div>
<div class="section landing-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="text-center" >Enregistrer une ordonnance :</h2>
                <form class="contact-form">
                    <label style="margin-right: 10px; margin-left: 100px;"> Télécharger un fichier :</label>
                    <input type="file" #fileUpload id="fileUpload" name="fileUpload" accept="pdf/*"  />
                    <span >{{fileName}}</span>
                    
                    <div class="row">
                        <div class="col-md-4 mr-auto ml-auto">
                            <button class="btn btn-primary btn-lg btn-fill">Enregistrer</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>