<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/photoback.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center" (click)="onButtonGroupClick($event)">
            <h1>Gestion des utilisateurs</h1>
            <h3> Choisissez :  </h3>
            <br />
            <button type="button"  class="btn btn-outline-neutral btn-round" (click)="listeSelected()"><i class="fa fa-eye"></i>Voir la liste des utilisateurs</button>
            <button type="button" class="btn btn-outline-neutral btn-round" (click)="ajoutSelected()"><i class="fa fa-plus"></i>Ajouter un utilisateur</button>
            <br/> <br/>
                <div *ngIf="isSelected()">
                    <h3> {{ titleForChoice }} </h3>
                    <br/><img src="./assets/img/down-arrow.png">
                </div>
        </div>
    </div>
</div>
<div class="main">
<app-liste-users *ngIf="listeIsSelected()"></app-liste-users>
<app-ajout-user *ngIf="ajoutIsSelected()"></app-ajout-user>
</div>